h1 {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px 100px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

p{
    text-align: center;
    color: red;
    font-size: 1.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

